@import "tailwindcss";

@utility no-scrollbar {
  /* 隐藏 Webkit 浏览器的滚动条 */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Firefox 隐藏滚动条 */
  scrollbar-width: none;
  /* IE 和 Edge 隐藏滚动条 */
  -ms-overflow-style: none;
}